@font-face {
    font-family: "Cascadia";
    src: url("/static/fonts/Cascadia.ttf");
}

body {
    overflow-x: hidden;
    font-family: Cascadia;
}
.borde {
    border: solid 1px black !important;
}
.bordetop {
    border-top: solid 1px black !important;
}
.bordebot {
    height: 25px;
    border-top: solid 1px #ffffff !important;
}
.c {
    text-align: center !important;
}
.just {
    text-align: justify !important;
}
.r {
    border-radius: 10px;
}
.footback {
    background-color: #000000;
    color: #ffffff;
}

/* FONTS */
.smfont {
    font-size: 0.7rem;
}

.backform {
background-color: dimgrey;
color: #000000;
border-radius: 3rem;
}


/* IMAGENS */

.imgnav {
    width: 20%;
}
.imgobj {
    width: 40%;
}
.imgobj1 {
    width: 100%;
}
.imgobj2 {
    width: 80%;
}
.imgbutt {
    width: 100%;
    border-radius: 7px;
}
.imginsc2 {
    width: 50%;
}
.imginsc3 {
    width: 70%;
}
.imgred {
    width: 100px;
    padding: 10px;
}
.imgicont {
    width: 100px;
    padding: 10px;
}
.imgform {
    width: 150px;
}
.imginsc {
    padding-top: 15px;
    width: 100%;
}
.imginsc1 {
    width: 40%;
}

/* back-to-top */
.backtotop {
    width: 40pt;
    height: auto;
    position: fixed;
    bottom: 4.50rem;
    right: 1.75rem;
    z-index: 15;
}
.backtotop:hover {
    color: transparent;
    background-color: transparent;
}

/* footer */

.b-fixed{
    position: fixed !important;
    bottom: 10px;
    z-index: 1;
}
.back-black {
    color: aliceblue;
    background-color: black;
}
.foot-back {
    color: aliceblue;
    background: rgb(57,46,244);
    background: radial-gradient(circle, rgb(77, 67, 250) 0%, rgba(113,109,240,1) 21%, rgba(62,62,228,1) 57%, rgba(0,212,255,1) 100%);
}
