{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="col-12 mx-auto ">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-3 mx-auto mt-3 c">
                <img src="static/img/icons/qr.png" class="imginsc2" alt="CSV" />
            </div>
            <div class="col-9 mx-auto mt-3 c">
                <h1 class="titulo3">Aplicativo para generar codigos qr</h1>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="col-11 mx-auto mt-5 mb-5">
    <div class="col-8 mx-auto p-5 backform">
        <form action="" method="POST" enctype="multipart/form-data">

            <div class="col-lg-6 col-sm-10 mx-auto">
                <div class="mb-3">
                    <label for="address" class="form-label">Ingrese texto o dirección web</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
            </div>

            <div class="col-lg-6 col-sm-10 mx-auto">
                <div class="mb-3">
                    <label for="fileName" class="form-label">Ingrese el nombre final del codigo qr</label>
                    <input type="text" class="form-control" id="fileName" name="fileName" required>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-10 mx-auto">
                    <div class="mb-3">
                        <label for="box_size" class="form-label">Tamaño de la caja</label>
                        <input type="text" class="form-control" id="box_size" name="box_size">
                    </div>
                </div>

                <div class="col-lg-6 col-sm-10 mx-auto">
                    <div class="mb-3">
                        <label for="border" class="form-label">Tamaño del borde</label>
                        <input type="text" class="form-control" id="border" name="border">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-10 mx-auto">
                    <div class="mb-3">
                        <label for="fill" class="form-label">Color de Pixel</label>
                        <input type="text" class="form-control" id="fill" name="fill">
                    </div>
                </div>

                <div class="col-lg-6 col-sm-10 mx-auto">
                    <div class="mb-3">
                        <label for="back_color" class="form-label">Color de Fondo</label>
                        <input type="text" class="form-control" id="back_color" name="back_color">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-sm-10 mx-auto c">
                <p class="smfont">Entrada de colores en formato hex (#0000ff) o nombre (blue)</p>
            </div>

            <div class="col-lg-8 col-sm-10 mx-auto">
                <p class="c smfont">Al añadir imagen en el centro al QR, el Color de Fondo tiene que ser diferente a blanco "#ffffff" o "white" o la imagen central sale pixelada.</p>
            </div>

            <div class="col-lg-6 col-sm-10 mx-auto">
                <div class="mb-3">
                    <label for="imgcenter" class="form-label">Ingrese imagen para el centro</label>
                    <input type="file" class="form-control" id="imgcenter" name="imgcenter">
                </div>
            </div>

            <div class="col-lg-7 col-sm-10 mx-auto d-grid gap-2 mt-5">
                <input class="btn btn-success" type="submit" value="GENERAR QR">
            </div>

        </form>
    </div>
</div>


{% endblock %}
